Gerbers/3DPCB_4L-B.Cu.gbl
Gerbers/3DPCB_4L-B.SilkS.gbo
Gerbers/3DPCB_4L-Edge.Cuts.gm1
Gerbers/3DPCB_4L-B.Mask.gbs
Gerbers/3DPCB_4L-F.Mask.gts
Gerbers/3DPCB_4L-Inner2.Cu.g2
Gerbers/3DPCB_4L-Inner1.Cu.g3
Gerbers/3DPCB_4L-F.SilkS.gto
Gerbers/3DPCB_4L.drl
Gerbers/3DPCB_4L-F.Cu.gtl
Gerbers/3DPCB_4L-drl_map.gbr
*.zip
Gerbers/3DPCB_4L.txt
*.gl3
*.gl2
Gerbers/3DPCB_4L-Edge.Cuts.gml